<html>
    <head>
        <title>log in</title>
    </head>
    <body>
        <form action="/logInData" method="POST">
            <label for="userName">User Name:</label>
            <input type="text" id="userName" name="userName" value="" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" value="" required>

            <button type="submit">submit</button>
        </form>
        <p>Hint: admin admin</p>
    </body>
</html>